.my-btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 5px rgb(0, 7, 70) ridge;

    
}

.my-btn:hover {
    transform: translateY(-3px);
    border: 5px rgb(1, 19, 182) ridge;

    background-color: grey;
}

.my-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
}

.my-btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
    
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}