
/* Postlist start */
.none-post{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}
/* Postlist end */

/* Post start */
strong{
    font-size: 30px;
}
.post{
    
    display: flex;
    margin-top: 10px;
    color:rgb(167, 167, 167);
    font-size: 20px;
    border: wheat solid 1px;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    
}
.post{

}
.post__content{
    text-align: left;
}
.post__content strong{
    color:rgb(96, 145, 218);
}
.post__text{
    font-style: italic;

}
.post__btns{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.post__btn{
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    height: 50px;
    cursor: pointer;
    width: 100%;

}
.post__btn_del:hover{
    background-color: rgba(243, 105, 105, 0.623);

}
.post__btn_edit:hover{
    background-color: rgba(107, 255, 102, 0.623);
}
/* Post end */

/* Postlist-animated start */
.post-enter {
    transform: scale(0);

}
.post-enter-active {
    transform: scale(1);
    transition: all 500ms ease-in;

    

}
.post-exit {
    opacity: 1;
    


}
.post-exit-active {
    transform: scale(0);
    transition: all 500ms ease-in;



}

/* Postlist-animated end */